<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

    <div class="container content_title">
      <div class="jumbotron">
        <h1>Garden Geek</h1>
      </div>
    </div>

    <span><button type="new_user"><%= link_to 'New User', new_user_path %></button></span>
    <span><button type="login">Login</button>
    <h1>This is the HOMEPAGE!</h1>
    <h1>This is the HOMEPAGE!</h1>
    <h1>This is the HOMEPAGE!</h1>
    <h1>This is the HOMEPAGE!</h1>
    <h1>This is the HOMEPAGE!</h1>
    <h1>This is the HOMEPAGE!</h1>
    <h1>This is the HOMEPAGE!</h1>
    <h1>This is the HOMEPAGE!</h1>
    <h1>This is the HOMEPAGE!</h1>
    <h1>This is the HOMEPAGE!</h1>
    <h1>This is the HOMEPAGE!</h1>
    <h1>This is the HOMEPAGE!</h1>
    <h1>This is the HOMEPAGE!</h1>
    <h1>This is the HOMEPAGE!</h1>
    <h1>This is the HOMEPAGE!</h1>
    <h1>This is the HOMEPAGE!</h1>
    <h1>This is the HOMEPAGE!</h1>
    <h1>This is the HOMEPAGE!</h1>
    <h1>This is the HOMEPAGE!</h1>


  </tbody>
</table>

<br>


