<%= bootstrap_form_for(@plant) do |f| %>
  <%= f.text_field :name_of_plant, label: "Name your new plant"%>
  <%= f.text_field :date_planted, label: "Date planted" %>
  <div class="row col-md-12">
    <div class="col-md-12 form-button" id="create-plant-button">
      <%= f.submit "Create plant" %>
    </div>
  </div>
<% end %>