 <div class="container content_title">
  <div class="jumbotron">

  </div>
</div>

<div class="column col-md-6 col-md-offset-3 form-div">

        Garden Geeks designed and implemented by:
        <p>
        <ul>
        <li>David Keathley</li>
        <li>Metel Patel</li>
        <li>Jessie Shanks</li>
        <li>Kati Taylor</li>
        </ul>

        <br>You can learn more about this project on our GitHub wiki and README at:
        <a href="https://github.com/keathleydavidj/garden_app/wiki">Garden Geek wiki.</a></p>


    </div>
