

<h1 class="body_title">You are viewing <%= @garden.name %></h1>

<div class="col-md-offset-1">
<button class="btn bth-primary btn-lg"><%= link_to 'New Plant', new_plant_path %></button>
</div>

<div class="col-md-offset-5">
<ul>
  <li><%= link_to 'Edit Garden', edit_garden_path(@garden) %>
<%= link_to 'Back to Gardens', gardens_path %>
</li>
</ul>
</div>
