@import url('http://fonts.googleapis.com/css?family=Open+Sans');

.navbar-default .navbar-nav>li>a {
  color:white;

}

.navbar-default .navbar-nav>li>a:hover{
  color:#9D8420;

}

.content_title {
    font-family: 'Droid Serif', serif;
    font-size: 300px;
    font-weight: bold;
    color: #119822;
    text-align: center;
    margin-top: 25px;
  }

.jumbotron {
  background-color:white;
  text-align:center;
}

/* Header Image Background - Change the URL below to your image path (example: ../images/background.jpg) */

.navbar {
  background-color: #2A7221;
  margin: 0px;
}

.navbar-default .navbar-brand {
  color:white;
  font-size:22px;
}

body {
  background-color: white;
}

// CSS FOR FORMS //

.form-well {
  background-color: #64A857;
  margin-bottom: 20%
}

.form-title {
  color: #9D8420;
  text-align: center;
  margin: 5%;
}

.form-button {
  text-align: center;
  color: #9D8420;
  font-size: 2m;
}

.form-div {
  margin-top: 6%;
  margin-bottom: 10%;
}

label.required:after {
<<<<<<< HEAD
  content:" *  required";
  color: #931F1D;
}

