<div class="container content_title">
  <div class="jumbotron">
    <h1>Garden Geek</h1>
  </div>
</div>

<h1>This is the HOMEPAGE!</h1>
<div class="container content_container">
  <img src="http://www.daviddarling.info/images/mountain.jpg">
  <img src="http://www.daviddarling.info/images/mountain.jpg">
  <img src="http://www.daviddarling.info/images/mountain.jpg">
  <img src="http://www.daviddarling.info/images/mountain.jpg">
</div>
