<div class="container content_title">
  <div class="jumbotron">
    <h1>Garden Geek</h1>
  </div>
</div>

<h1>This is the HOMEPAGE!</h1>
<div class="container content_container">
  <span><button type="new_user"><%= link_to 'New User', new_user_path %></button></span>
  <span><button type="login">Login</button>
</div>

<p id="notice"><%= notice %></p>